/* === color === */
#c { 
    color: red;
    color: #B2EBF4;
    color: rgb(209, 178, 255);
    color: rgba(209, 178, 255, 0.7);

    /* h : 색상값(0~360), s : 채도(%), ㅣ : 명도(%) */
    color: hsl(250, 50%, 50%);
    color: hsla(250, 50%, 50%, 0.5);
}


/* === text-decoration === */
#td1 { text-decoration: underline; }
#td2 { text-decoration: line-through; }
#td3 { text-decoration: overline; }
#td4 { text-decoration: none; color: black; }


/* === text-transform === */
#tt1 { text-transform: uppercase; }
#tt2 { text-transform: lowercase; }
#tt3 { text-transform: capitalize; }


/* === text-shadow === */
.shadow { font-size: 25px; font-weight: 900; }

/* 번짐정도 생략 시 선명한 그림자, 색상 생략 시 글자의 색상으로 생성 */
/* 세로거리(y)를 +로 하면 그림자가 아래로, -로 하면 그림자가 위로 */
#ts1 { 
    color: #3DB7CC; 
    text-shadow: 5px 5px #B2EBF4;
    text-shadow: -5px -5px 2px #B2EBF4;
}

#ts2 { 
    color: white;
    text-shadow: 0 0 10px black;
    text-shadow: 0 0 10px #00D8FF;
}

#ts3 {
    text-shadow: 0 0 2px gray,
                 0 -5px 4px yellow,
                 0 -10px 8px orange,
                 0 -15px 10px orangered,
                 0 -20px 12px red;
}


/* === text-align === */
#justify { text-align: justify; }

#right { text-align: right; }

#center { text-align: center; }


/* === line-height === */
#px { line-height: 30px; }

#em { line-height: 3em; }

#p { line-height:200%; }